h2, h3 {
    text-align: center;
    color: white;
}

.form{
    color: white;

    /* background-color: cornflowerblue; */
}

.add-server{
    margin-top: 5%;
    vertical-align: middle;
    background-color: rgb(16, 51, 51);
    border-radius: 5%;
    padding: 1%;
}