<div class="dashboard row no-gutters">
    <app-server-list (displayAddServerComponent)="toggleAddServer($event)" (serverEmitter)="setServer($event)" ></app-server-list>
    <app-channel-list (displayAddChannelComponent)="toggleAddChannel($event)"></app-channel-list>
    <div *ngIf="isAddServer">
        <app-add-server></app-add-server>
    </div>
    <div *ngIf="isAddChannel">
        <app-add-channel></app-add-channel>
    </div>
    <div *ngIf="isChannelSelected">    
        <app-channel-detail></app-channel-detail>
    </div>
    
    <app-user-list></app-user-list>
</div>