.users-list {
    top: 0;
    right: 0;
    bottom: 0;
    /* width: 10%; */
    height: 100%;
    position: absolute;
    background-color: rgb(3, 10, 24);
    transition: 0.5s;
  }
  li:active,
  li:focus,
  li:hover {
    background-color: #2a1e5c;
  }
 .nav-link{
   text-align: center;
 }
  p.user-entry{
    text-align: center;
    vertical-align: middle;
  }

  h3{
    text-align: center;
    vertical-align: middle;
  }