<div class="channel-detail col-md-10 no-gutter">
    <div class="channel-name">
        <h3 class="text-white channel-name">Channel Name</h3>
        <p class="channel-description">Channel description</p>
    </div>
    <div class="messages">
        <div class="message">
            <div class="user-icon">
                <img class="icon" src="https://cdn.iconscout.com/icon/free/png-256/small-diamond-geometric-blue-38006.png"/>
            </div>
            <div class="message-content">
                <div class="message-info">
                    <h5 class="user-name">Anna Union</h5>
                    <p class="datetime">2021/08/04 4:19PM</p>
                </div>
                <div class="message-text">
                    <p class="content">Hello!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="message-bar">

    </div>
</div>
